<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hígia</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	    </head>
    <div th:fragment="imports-js">
        <script th:attr="data-main=@{/js/boot.js}" th:src="@{/js/libs/require.js}"></script>
        <!-- libs -->
        <!-- <script type="text/javascript" th:src="@{/js/libs/jquery-3.2.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/libs/datatables.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/libs/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/libs/bootstrap-select.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/libs/bootstrap-datepicker.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/libs/moment.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/libs/daterangepicker.js}"></script>
        <script type="text/javascript" th:src="@{/js/libs/defaults-pt_BR.js}"></script>
        <script type="text/javascript" th:src="@{/js/libs/jquery.mask.js}"></script> -->
        <!-- <script type="text/javascript" th:src="@{js/libs/bootstrap-chosen-jquery.js}"></script> -->
        
                                    
        <!-- extensions datatables --> 



        <!-- <script type="text/javascript" th:src="@{/js/libs/datatables/extensions/dataTables.buttons.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/libs/datatables/extensions/dataTables.checkbox.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/libs/datatables/extensions/buttons.flash.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/libs/datatables/extensions/jszip.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/libs/datatables/extensions/pdfMake.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/libs/datatables/extensions/vfs_fonts.js}"></script>
        <script type="text/javascript" th:src="@{/js/libs/datatables/extensions/buttons.html5.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/libs/datatables/extensions/buttons.print.min.js}"></script>
            -->                       
        <!-- js -->                    
        <!-- <script type="text/javascript" th:src="@{/js/components.js}"></script>
        <script type="text/javascript" th:src="@{/js/mascaraValidacao.js}"></script>
        
        <script th:src="@{https://www.google.com/recaptcha/api.js}" async="async" defer="defer"></script>-->
    </div>
</html>