

.font-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
            }
.font-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}
.font-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.font-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;    
}
