.sprites-logo-higia-login{
    width: 233px;
    height: 73px;
}
.sprites-logo-higia{
    width: 163px;
    height: 52px;
}
/*apagar classes*/
.sprites-ico-padlock{
    width: 24px;
    height: 24px;
}
.sprites-ico-user{
    width: 24px;
    height: 24px;
}
/*fim/apagar classes*/